body {
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
}

h1 {
    font-size: x-large;
}

h2 {
    color: white;
    text-align: center;
}

li {
    color: white;
}

ul {
    text-align: left;
}

table, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}

strong {
    font-size: large;
}

#users {
    font-size: larger;
}